// An example configuration file that stores information about a store.

// Basic store information:
name = "GeneralParams, ConsumerParams & MediaStreamParams";

// Store inventory:
server =
{
    // external environment configure
    general =
        (
            {
                host = "10.103.242.210"//next hop ip, "localhost" for local
                port = 6363;           //next hop port
                dev = "/dev/video0";   //camera device name
                type = "byStream";     //server type, "byStream" or "byFrame"
                logs = "./logs";       //log directory, log file created by server
                loglevel = 255;        //-1 fatal, 0 NONE, 1 ERROR, 2 WARNING, 3 INFO, 4 DEBUG, 5 TRACE, 255 ALL
            }
        );

    // internal environment configure
    publisher =
        (
            {
                slotNum = 200;        //cache size (packet num)
                slotSize = 800;       //size of per packet
                interstLifeTm = 4000; //interval between two Interests(ms, only for general::type="byStream")
                jittSizeMs = 3000;    //jitter time (not used)
            }
        );

    // capture configure
    capturer =
        (
            {
                dev = "/dev/video0";  //camera device name
                format = "video4linux2"; //camera driver

                // capture size
                //width = 320; height = 240; frameRate = 30.0;    //bitRate = 921,600;    //30~15    
                //width = 352; height = 288; frameRate = 30.0;    //bitRate = 1,216,512;    //30~15    
                //width = 424; height = 240; frameRate = 30.0;    //bitRate = 1,221,120;    //30~15    
                //width = 640; height = 360; frameRate = 30.0;    //bitRate = 2,764,800;    //30~15    
                //width = 640; height = 480; frameRate = 30.0;    //bitRate = 3,686,400;    //30~15    
                //width = 800; height = 448; frameRate = 15.0;    //bitRate = 4,300,800;    //15    
                //width = 960; height = 540; frameRate = 30.0;    //bitRate = 6,200,800;    //10    
                width = 1280; height = 720; frameRate = 10.0;    //bitRate = 11,059,200;    //10    
            }
        );

    // encoder configure
    vcoder =
        (
            {
                gop = 10;             //H.264 IPB group size
                maxBitRate = 600000;  //max bit rate
                BFrame = 0;           //use B frame (0 or 1)
                dropFrame = 0;        //not used

                // encode size
                //width = 320; height = 240; frameRate = 30.0; bitRate = 40000;        //30~15    921,600
                //width = 352; height = 288; frameRate = 30.0; bitRate = 100000;    //30~15    1,216,512
                //width = 424; height = 240; frameRate = 30.0; bitRate = 100000;    //30~15    1,221,120
                //width = 640; height = 360; frameRate = 30.0; bitRate = 200000;    //30~15    2,764,800
                //width = 640; height = 480; frameRate = 30.0; bitRate = 600000;    //30~15    3,686,400
                //width = 800; height = 448; frameRate = 15.0; bitRate = 400000;    //15    4,300,800
                //width = 960; height = 540; frameRate = 30.0; bitRate = 600000;    //10    6,200,800
                width = 1280; height = 720; frameRate = 10.0; bitRate = 1000000;    //10    11,059,200

            }
        );

    // stream configure
    stream =
        (
            {
                type = "video";			//streaming type
                name = "/com/monitor/location1/stream0/video";//publish stream name
            }
        );
};
